.small-text{margin:0 2rem}
.about-slide .slide-inner .info-row{align-items:flex-start}
.about-slide .slide-inner .link{gap:5rem}
.about-slide .slide-inner .lst-con{position:relative;z-index:8}
.about-slide .slide-inner .con-title{margin-right:3rem}
.about-slide .slide-inner .lst-con.left{width:40%;min-width:40rem;z-index:4}
.about-slide .slide-inner .figure,.about-slide .slide-inner .img-box{width:100%}
.about-slide .slide-inner .img-box{overflow:hidden}
.about-slide .slide-inner .img-box img{object-fit:contain;aspect-ratio:2 / 3}
.about-slide .slide-inner .figure .img-box{position:relative;width:60%;margin:0 auto}
.about-slide .slide-inner .lst-con.right{padding:5rem 0;flex:1;z-index:3;/* width:55%; */}
.about-slide .slide-inner .lst-con.right *{position:relative;z-index:5}
.about-slide .slide-inner .lst-con.right .object{position:absolute;background-image:url(../../image/about/leaf.svg);width:30vw;height:69vh;right:0;bottom:5rem;z-index:2}
.about-slide .slide-inner .info-row .con-title{min-width:6rem}
.about-slide .slide-inner .info-row .desc{flex:1}
.about-slide .slide-inner .info-row .desc-title ~ span{margin-right:.5rem}
.info-row:not(:first-of-type) .desc-title{min-width: 23rem;}
.info-row .desc > li{display:flex;margin:.5rem 0 1rem;align-items: center;flex-wrap:wrap;word-break:keep-all}
.about-trigger-section{width:100%;max-width:none;overflow:hidden}
.about-pin-container{width:100%;height:100vh;position:relative;overflow:hidden}
.about-horizontal-wrap{display:flex;flex-wrap:nowrap;width:max-content;height:100%}
.about-slide{width:100vw;height:100vh;min-height:90rem;flex-shrink:0;color:var(--font-color02)}
.about-slide .slide-inner{display:flex;flex-direction:column;align-items:center;justify-content:center;padding:var(--layout-padding);width:100%;height:100%}
.about-slide h2,.about-slide .row-list{/* flex:5; */display: flex;align-items: center;}
.about-slide h3{padding: .8rem 0;font-size:3rem}
.about-slide .object{z-index:-1;width:25vw;height:28vh;right:-20%;bottom:0}

.about-slide .row-list li{padding:0 6vw;display:flex;align-items:flex-start;justify-content: flex-start;flex-direction:column}
.about-slide.bg02 .slide-inner,.about-slide.bg05 .about-slide .slide-inner{flex-direction:row}
.about-slide.bg01 .about-slide .slide-inner{text-align:center}
.about-slide.bg01 h2{margin-bottom:1rem}
.about-slide.bg01 h2 > span{font-size:12rem;font-family:var(--font-gmarket)}

.about-slide.bg02 .slide-inner .lst-con.left{flex:4}
.about-slide.bg02 .slide-inner .lst-con.right{flex:6}
.about-slide.bg03 h2{display:inline-flex;align-items:center;justify-content:center;text-align:center;margin:0}
.about-slide.bg03 h2 .object{position:static;margin:0 2rem}
.about-slide.bg03 h2 .object.img01{background-image:url(../../image/about/bg0401.png)}
.about-slide.bg03 h2 .object.img02{background-image:url(../../image/about/bg0402.png)}
.about-slide.bg03 .object.img01{background-image:url(../../image/about/bg0301.png)}
.about-slide.bg03 .object.img02{background-image:url(../../image/about/bg0302.png)}
.about-slide.bg03 .object.img03{background-image:url(../../image/about/bg0303.png)}
.about-slide.bg04 .row-list li{border:4px solid var(--main-bg-color2);padding:4vw;width:100%;max-width:50rem;aspect-ratio:1 / 1;display:flex;align-items:center;justify-content:center;flex-direction:column;border-radius:50%;text-align:center}
.about-slide.bg05 .about-slide{}
.about-slide.bg05 .slide-inner{text-align:left;padding: 6rem}
.about-slide.bg05 .column-list{width:50%;margin-left:10%;height:100%;/* padding-top:20rem; */}
.about-slide.bg05 h2{align-self:flex-start;/* margin: 0; */}
.about-slide.bg05 .object.img01{background-image:url(../../image/about/bg0501.png);width:40vw;aspect-ratio:3/2;right: calc(50% - -15vw);bottom:42px;height:auto}
.about-bookmark{position:absolute;top:50%;right:4rem;transform:translateY(-50%);padding:0 5rem;z-index:99}
.about-bookmark > ul{display:flex;align-items:center;justify-content:center;flex-direction:column}
.about-bookmark li > a{width:2rem;height:2rem;border-radius:50%;background-color:var(--main-bg-color2);margin:.5rem 0;transition:all .2s ease-out;text-align:center;display:inline-block}
.about-bookmark li > a.active,.about-bookmark li > a:hover,.about-bookmark li > a:focus{width:2.5rem;height:2.5rem}
@media screen and (max-width:1024px) {
.about-slide{height:auto; min-height: auto;}    
.about-slide .sc-con{height: auto;}
.about-pin-container{height:auto}
.about-horizontal-wrap{flex-wrap:wrap;width:auto;height:auto}
.about-slide h2{/* padding: .8rem 0; *//* font-size:3rem; */}
.about-slide h3{padding: .8rem 0;font-size: 2rem;}

.about-slide.bg02 .slide-inner .lst-con.right{width: 100%;}
.about-slide .slide-inner .lst-con.left{display: none;}
.about-slide .slide-inner .lst-con.right{padding:4rem 0}
.about-slide .slide-inner,.about-slide.bg02 .slide-inner{flex-direction:column}
.about-slide.bg02 .slide-inner .img-box img{aspect-ratio:3/3}
.about-slide .slide-inner .link-title,.small-text{font-size:2rem}
.about-slide .slide-inner .info-row .con-title{font-size:1.7rem;min-width:auto;margin-right:0;/* width:100%; */}
.about-slide .slide-inner .info-row{flex-direction:column}
.about-slide .slide-inner .info-row .desc > li{
    align-items: center;
}
.info-row:not(:first-of-type) .desc-title{min-width:18rem;}

.about-bookmark,
.about-slide.bg05 .object.img01{display: none;}
.about-slide.bg05 .column-list{width: 100%; margin-left: 0;}

}
@media screen and (max-width:680px) {

.about-slide .slide-inner .link{justify-content:center}
.info-row:not(:first-of-type) .desc-title{min-width:auto;width:100%;margin-bottom:.3rem}
.activity-list.about-slide .slide-inner .link{padding:3rem 0}
.activity-list li{font-size:1.8rem}
.activity-list .desc{padding:3rem 2rem 3rem 3rem}
.activity-list .desc:before{left:1.5rem}
}
@media screen and (max-width:500px) {
.about-slide .slide-inner .link{gap:0}
.about-slide .slide-inner .lst-con.right{width:100%;flex:auto}
.about-slide .slide-inner .lst-con.left{min-width:none}
.activity-list li{font-size:1.5rem}
}