

.sc-title,.skip-card .link{ opacity: 0;visibility: hidden;}

#contact .skip-card{
    position:relative;
    left: auto;
    top:auto;
    width: 100%;
    gap:9rem;
    }
#contact .skip-card .link{min-height: 25rem; max-height:35rem;border-style: solid;border-width: 6px;border-color: transparent;
    height: 40rem; transition: border  0.3s;}
#contact .skip-card .first-card{background-color: #FFC309; }

#contact .skip-card .second-card{ background-color: #F5CBCB;}

#contact .skip-card .third-card{  background-color: #CDE7B8;}


#contact .skip-card .link:hover
,#contact .skip-card .link:focus{
    border-color:#fff;
} 

#contact .skip-card .bg{
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);}
#contact .skip-card .bg.bg01{background-image: url("../../img/contact/kakao.png");}
#contact  .skip-card .bg.bg02{background-image: url("../../img/contact/email_p.png");}
#contact  .skip-card .bg.bg03{background-image: url("../../img/contact/call_b.png"); background-size: contain; }

@media screen and (max-width:1280px) {
#contact .skip-card{gap:3rem}


    
}

@media screen and (max-width:500px) {
#contact .skip-card .link{height: 25rem;}
#contact .skip-card .bg{width: 150px;height: 150px;} 
}

@media (max-height: 630px) {
 /* #contact  .skip-card .link{height: auto;} */
}