
/* list */


/* 애니메이션 트리거 */
.portfolio-trigger-section{

    position: relative;
    width: 100%;
    min-height: 100vh;
}

/* 애니메이션 콘텐츠 담은 wrap*/
.portfolio-scroll-wrap{
    width: 100%;
    height: 100vh; /* 화면에 꽉 차게 고정될 영역 */     
    position: relative;
    overflow: hidden;}

.portfolio-scroll-wrap .full-list{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
/*모든 카드를 한자리에 포개어 놓기*/
.portfolio-scroll-wrap .full-list .li
{position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
background-color: var(--main-bg-color);
}
/*첫 번째 카드 외에 2, 3번 카드는 처음에 아래쪽에 숨기기*/
.portfolio-scroll-wrap .full-list .li:not(:first-child) {
  transform: translateY(100%); 
}

.portfolio-scroll-wrap .full-list .link{justify-content: space-between;gap: 2rem;}
.portfolio-scroll-wrap .full-list .lst-con.right{max-width: 46rem;align-self: flex-start;}
.portfolio-scroll-wrap .desc{margin-top: 4rem;}
.portfolio-scroll-wrap .desc-title{margin: 1rem 0 0.5rem 0;display: block;}

.portfolio-scroll-wrap .skill{display:flex;flex-wrap: wrap; gap:1rem; }
.portfolio-scroll-wrap .skill li{background-color: #f1f1f1; border-radius: 1rem; height: 100%; width: 8rem; height: 8rem;}
.portfolio-scroll-wrap .skill-icon{width: 100%; height: 100%;}

/* title */
.portfolio-title{
    opacity: 0;
  transform: translateY(30px);
  /* 상태가 변할 때 0.8초 동안 부드럽게 변하도록 설정 */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;}

.portfolio-title.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/*책갈피 */
.portfolio-bookmark{position:absolute; top: 50%;
  right: 4rem; transform: translateY(-50%);padding: 0 5rem;z-index: 88}
.portfolio-bookmark ul,.portfolio-bookmark ul li, .portfolio-bookmark a{width: 100%;}
.portfolio-bookmark ul{}
.portfolio-bookmark ul li{}
.portfolio-bookmark a,.portfolio-bookmark a > span{color:var(--font-color02);}
.portfolio-bookmark a{display: inline-flex; padding: 0.8rem 0; font-family: var(--font-gmarket);}
.portfolio-bookmark a > span{ font-size:1.8rem; transition: 0.3s;}

/*책갈피 hover */
.portfolio-bookmark ul li.active a{font-weight: bold; }
.portfolio-bookmark ul li.active a span{transform: scale(1.2);}

@media screen and (max-width:980px) {

   .portfolio-scroll-wrap  .full-list .link{flex-direction: column;}
   .portfolio-scroll-wrap  .full-list .lst-con.right{order: 1; align-self:center}
    /*.portfolio-scroll-wrap  .full-list .lst-con.right{max-width: 30rem;display: inline-flex;align-items: center;} */
   .portfolio-scroll-wrap  .full-list .lst-con.left{order: 2;}
    
}

@media screen and (max-width: 768px) {
   .portfolio-scroll-wrap  .full-list .link{padding: 3rem 0;}

.full-list .link-title{    font-size: 2.5rem;}
.portfolio-scroll-wrap  .desc{margin-top: 2rem;}   
}

@media screen and (max-width: 640px) {
   .portfolio-scroll-wrap  .full-list .link{flex-direction: column;}
   .portfolio-scroll-wrap  .full-list .lst-con.right{max-width: 100%;}
 
}

@media screen and (max-width: 360px) {
   .portfolio-scroll-wrap  .full-list  .tultip{width: 100%; text-align: center; margin: 1rem 0;}
 
}