


/* 타임라인 activity */
.activity{max-width: 80%; width: 100%;}
.activity h2{margin: 3rem 0;}
.activity-list{}
.activity-list .solid-title{margin-bottom:0;}
.activity-list .link{display: block;}
.activity-list .desc{position:relative;padding:6rem 2rem 6rem 10rem;}
.activity-list .desc:before{content: ''; display: block;
width: 1px; background-color: var(--main-bg-color2); position: absolute; left:5rem; top: 0; height: 100%;
}
.activity-list li { font-size: 1.8rem;}
.activity-list li:not(:last-child) {margin-bottom: 3rem;}
.activity-list .desc-title{display: block;margin-top: 1rem;color: var(--font-color02);}
.activity-list .desc-title ~ span{}

/* tultip */
.date{font-size: 1.5rem; font-weight: normal;}


/* timeline-item animation */
.timeline-item {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s ease;
}

/* 감시자(Observer)에 의해 화면에 포착되면 실행될 클래스 */
.timeline-item.is-visible {
    opacity: 1;
    transform: translateY(0);
}

/* 더보기 내부 리스트가 펼쳐질 때의 스르륵 애니메이션 */
.more-activity-wrapper {
    animation: slideDown 0.4s ease-out forwards;
}

@keyframes slideDown {
    from { opacity: 0; max-height: 0; }
    to { opacity: 1; max-height: 2000px; }
}


/* 더보기 버튼 스타일링 */
.more-btn-container {
    text-align: center;
    margin-top: 30px;
}
.btn-more {
    padding: 2rem;
    background-color: transparent;
    border: 1px solid var(--main-bg-color2);
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    color: var(--font-color02);
    font-family: var(    --font-gmarket);
   
}
.btn-more:hover {
    background-color: var(--main-bg-color2);
    border-color: var(--main-bg-color2);
    transform: translateY(-2px);
    color:#fff;
}


@media screen and (max-width:680px) {

 .activity-list .link{padding: 3rem 0 }
 .activity-list li{font-size: 1.8rem;}
 .activity-list .desc{padding: 3rem 2rem 3rem 3rem;}
 .activity-list .desc:before{left: 1.5rem;}

}


@media screen and (max-width:500px) {
   
     .activity-list li{font-size: 1.5rem;}


}